* {
    font-family: 'Work Sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-size: 22px;
}
img {
    max-width: 15rem;
}

a {
    color: brown;
    text-decoration: none;
}